HL.BLL/Web References/sap300.checkInPurOrderSummit/document.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN_BN_ZMES_BIAOZHUNCAIGOUSHOUHUO">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN_BN_ZMES_BIAOZHUNCAIGOUSHOUHUO_SOAP12">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_IF_ZMES_BIAOZHUNCAIGOUSHOUHUO">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
      <sapcentraladmin:BusinessApplicationID>51362907540A0950E10080000A020007</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_IF_OP_ZMES_BIAOZHUNCAIGOUSHOUHUO">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char35">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="35" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char500">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="500" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="clnt3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="unit3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZMES_DELIVERY">
        <xsd:sequence>
          <xsd:element name="MANDT" type="tns:clnt3" />
          <xsd:element name="DELIVERY_ID" type="tns:char50" />
          <xsd:element name="EBELN" type="tns:char10" />
          <xsd:element name="EBELP" type="tns:numeric5" />
          <xsd:element name="DEL_DATE" type="tns:char10" />
          <xsd:element name="DEL_TIME" type="tns:char8" />
          <xsd:element name="USERNAME" type="tns:char20" />
          <xsd:element name="WEMNG" type="tns:quantum13.3" />
          <xsd:element name="MATNR" type="tns:char18" />
          <xsd:element name="MAKTX" type="tns:char40" />
          <xsd:element name="MENGE" type="tns:quantum13.3" />
          <xsd:element name="MEINS" type="tns:unit3" />
          <xsd:element name="SWERKS" type="tns:char4" />
          <xsd:element name="LGOBE" type="tns:char4" />
          <xsd:element name="EINDT" type="tns:char10" />
          <xsd:element name="BUKRS" type="tns:char4" />
          <xsd:element name="BSART" type="tns:char4" />
          <xsd:element name="EKGRP" type="tns:char3" />
          <xsd:element name="LIFNR" type="tns:char10" />
          <xsd:element name="LIFNRNAME" type="tns:char35" />
          <xsd:element name="FWERKS" type="tns:char4" />
          <xsd:element name="STATE" type="tns:char1" />
          <xsd:element name="REMARK" type="tns:char500" />
          <xsd:element name="BUD_DATE" type="tns:char10" />
          <xsd:element name="BUD_TIME" type="tns:char8" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_ZMES_DELIVERY">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZMES_DELIVERY" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZMES_BIAOZHUNCAIGOUSHOUHUO">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TB_DELIVERY" type="tns:TABLE_OF_ZMES_DELIVERY" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZMES_BIAOZHUNCAIGOUSHOUHUOResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="RETMSG" type="tns:string" />
            <xsd:element name="RETVAL" type="tns:char1" />
            <xsd:element name="TB_DELIVERY" type="tns:TABLE_OF_ZMES_DELIVERY" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZMES_BIAOZHUNCAIGOUSHOUHUO">
    <wsdl:part name="parameters" element="tns:ZMES_BIAOZHUNCAIGOUSHOUHUO" />
  </wsdl:message>
  <wsdl:message name="ZMES_BIAOZHUNCAIGOUSHOUHUOResponse">
    <wsdl:part name="parameter" element="tns:ZMES_BIAOZHUNCAIGOUSHOUHUOResponse" />
  </wsdl:message>
  <wsdl:portType name="ZMES_BIAOZHUNCAIGOUSHOUHUO">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="http://r3dev01.heli.com:8000/sap/bc/esdt/docu/sd_text?sap-client=300&amp;sd_name=ZMES_BIAOZHUNCAIGOUSHOUHUO" />
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_IF_ZMES_BIAOZHUNCAIGOUSHOUHUO" />
    </wsp:Policy>
    <wsdl:operation name="ZMES_BIAOZHUNCAIGOUSHOUHUO">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_IF_OP_ZMES_BIAOZHUNCAIGOUSHOUHUO" />
      </wsp:Policy>
      <wsdl:input message="tns:ZMES_BIAOZHUNCAIGOUSHOUHUO" />
      <wsdl:output message="tns:ZMES_BIAOZHUNCAIGOUSHOUHUOResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZMES_BIAOZHUNCAIGOUSHOUHUO" type="tns:ZMES_BIAOZHUNCAIGOUSHOUHUO">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_ZMES_BIAOZHUNCAIGOUSHOUHUO" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZMES_BIAOZHUNCAIGOUSHOUHUO">
      <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZMES_BIAOZHUNCAIGOUSHOUHUO:ZMES_BIAOZHUNCAIGOUSHOUHUORequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZMES_BIAOZHUNCAIGOUSHOUHUO_SOAP12" type="tns:ZMES_BIAOZHUNCAIGOUSHOUHUO">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_ZMES_BIAOZHUNCAIGOUSHOUHUO_SOAP12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZMES_BIAOZHUNCAIGOUSHOUHUO">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZMES_BIAOZHUNCAIGOUSHOUHUO:ZMES_BIAOZHUNCAIGOUSHOUHUORequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZMES_BIAOZHUNCAIGOUSHOUHUO">
    <wsdl:port name="ZMES_BIAOZHUNCAIGOUSHOUHUO" binding="tns:ZMES_BIAOZHUNCAIGOUSHOUHUO">
      <soap:address location="http://r3dev01.heli.com:8000/sap/bc/srt/rfc/sap/zmes_biaozhuncaigoushouhuo/300/zmes_biaozhuncaigoushouhuo/zmes_biaozhuncaigoushouhuo" />
    </wsdl:port>
    <wsdl:port name="ZMES_BIAOZHUNCAIGOUSHOUHUO_SOAP12" binding="tns:ZMES_BIAOZHUNCAIGOUSHOUHUO_SOAP12">
      <wsoap12:address location="http://r3dev01.heli.com:8000/sap/bc/srt/rfc/sap/zmes_biaozhuncaigoushouhuo/300/zmes_biaozhuncaigoushouhuo/zmes_biaozhuncaigoushouhuo" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>