HL.BLL/Web References/SAP300_QueryMaterialKuCun/document.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN_BN_ZMATERIAL_AVAILABILITY">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN_BN_ZMATERIAL_AVAILABILITY_SOAP12">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_IF_ZMATERIAL_AVAILABILITY">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
      <sapcentraladmin:BusinessApplicationID>51362907540A0950E10080000A020007</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_IF_OP_ZMATERIAL_AVAILABILITY">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZAVAILABILITY1">
        <xsd:sequence>
          <xsd:element name="ZPLANT" type="tns:char4" />
          <xsd:element name="ZMATERIAL" type="tns:char18" />
          <xsd:element name="ZSTGE_LOC" type="tns:char4" />
          <xsd:element name="ZAV_QTY_PLT" type="tns:quantum13.3" />
          <xsd:element name="TIOSNO" type="tns:char50" />
          <xsd:element name="TIOTASKQTY" type="tns:char50" />
          <xsd:element name="TIOUNIT" type="tns:char50" />
          <xsd:element name="TIOFINIQTY" type="tns:char50" />
          <xsd:element name="MATCANOVER" type="tns:char50" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_ZAVAILABILITY1">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZAVAILABILITY1" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZMATERIAL_AVAILABILITY">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="ZKCSLB" type="tns:TABLE_OF_ZAVAILABILITY1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZMATERIAL_AVAILABILITYResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="ZKCSLB" type="tns:TABLE_OF_ZAVAILABILITY1" />
            <xsd:element name="ZRETURN" type="tns:char1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZMATERIAL_AVAILABILITY">
    <wsdl:part name="parameters" element="tns:ZMATERIAL_AVAILABILITY" />
  </wsdl:message>
  <wsdl:message name="ZMATERIAL_AVAILABILITYResponse">
    <wsdl:part name="parameter" element="tns:ZMATERIAL_AVAILABILITYResponse" />
  </wsdl:message>
  <wsdl:portType name="ZMATERIAL_AVAILABILITY">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="http://r3dev01.heli.com:8000/sap/bc/esdt/docu/sd_text?sap-client=300&amp;sd_name=ZMATERIAL_AVAILABILITY" />
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_IF_ZMATERIAL_AVAILABILITY" />
    </wsp:Policy>
    <wsdl:operation name="ZMATERIAL_AVAILABILITY">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_IF_OP_ZMATERIAL_AVAILABILITY" />
      </wsp:Policy>
      <wsdl:input message="tns:ZMATERIAL_AVAILABILITY" />
      <wsdl:output message="tns:ZMATERIAL_AVAILABILITYResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZMATERIAL_AVAILABILITY" type="tns:ZMATERIAL_AVAILABILITY">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_ZMATERIAL_AVAILABILITY" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZMATERIAL_AVAILABILITY">
      <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZMATERIAL_AVAILABILITY:ZMATERIAL_AVAILABILITYRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZMATERIAL_AVAILABILITY_SOAP12" type="tns:ZMATERIAL_AVAILABILITY">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_ZMATERIAL_AVAILABILITY_SOAP12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZMATERIAL_AVAILABILITY">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZMATERIAL_AVAILABILITY:ZMATERIAL_AVAILABILITYRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZMATERIAL_AVAILABILITY">
    <wsdl:port name="ZMATERIAL_AVAILABILITY" binding="tns:ZMATERIAL_AVAILABILITY">
      <soap:address location="http://r3dev01.heli.com:8000/sap/bc/srt/rfc/sap/zmaterial_availability/300/zmaterial_availability/zmaterial_availability" />
    </wsdl:port>
    <wsdl:port name="ZMATERIAL_AVAILABILITY_SOAP12" binding="tns:ZMATERIAL_AVAILABILITY_SOAP12">
      <wsoap12:address location="http://r3dev01.heli.com:8000/sap/bc/srt/rfc/sap/zmaterial_availability/300/zmaterial_availability/zmaterial_availability" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>